/* all the fonts in our website is montserrat font */
body{
    font-family: "Montserrat";
}

/*Used for general headings in the website*/
h2{
  font-weight: 800;
  font-size: 3rem;
  line-height:1.5;
}

/* used for smaller sub-headings below h2 */

h3{
  font-weight:500;
  font-size: 2.5rem;
  line-height:1.5;
}

/* plain text in the website below h3 */
h4{
  font-weight:300;
  font-size: 1.5rem;
  line-height:1.4;
}





/* navbar */
.navbar-brand{
  font-size: 4rem;
  font-weight: 500;
  font-variant: small-caps;
  color: white;
}

.navbar{
  padding: 2% 5% 0 5%;
}
.nav-item{
    font-size: 2rem;
    padding: 0 2rem 0 0 ;
    font-weight: 500;
}
.nav-link{

}

/* fonts */
.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}

.Lalezar-font{
  font-family: 'Lalezar', cursive;
  font-weight: 300;
}

/* bootstrap-adjustments */
.row{
    margin: 5%;
}
