/* A container is a box which has a pre-applied margins  */
.container-fluid{
  padding: 8% 15%;
}


/* headings */
.Main-Welcome-heading{
  font-size: 4rem;
  line-height: 1.5;
  margin-top: 8%;
  font-weight: 700;
}



/* image */
img{
  width:80%;
  margin-left:25%;
}

#Title{
  background-image: url("../Images/Main_Page_Welcome_img.jpg");
  background-repeat: no-repeat;
}
